[submodule "ethernaut/1_Fallback/lib/forge-std"]
	path = ethernaut/1_Fallback/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/Fallout/lib/forge-std"]
	path = ethernaut/Fallout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/2_Fallout/lib/forge-std"]
	path = ethernaut/2_Fallout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/5_token/lib/forge-std"]
	path = ethernaut/5_token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/6_Delegation/lib/forge-std"]
	path = ethernaut/6_Delegation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/7_Force/lib/forge-std"]
	path = ethernaut/7_Force/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/8_Vault/lib/forge-std"]
	path = ethernaut/8_Vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/9_King/lib/forge-std"]
	path = ethernaut/9_King/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/10_ReEntrancy/lib/forge-std"]
	path = ethernaut/10_ReEntrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
