[submodule "ethernaut/1_Fallback/lib/forge-std"]
	path = ethernaut/1_Fallback/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/Fallout/lib/forge-std"]
	path = ethernaut/Fallout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/2_Fallout/lib/forge-std"]
	path = ethernaut/2_Fallout/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/5_token/lib/forge-std"]
	path = ethernaut/5_token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/6_Delegation/lib/forge-std"]
	path = ethernaut/6_Delegation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/7_Force/lib/forge-std"]
	path = ethernaut/7_Force/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/8_Vault/lib/forge-std"]
	path = ethernaut/8_Vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/9_King/lib/forge-std"]
	path = ethernaut/9_King/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/10_ReEntrancy/lib/forge-std"]
	path = ethernaut/10_ReEntrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/11_Elevator/lib/forge-std"]
	path = ethernaut/11_Elevator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/12_Privacy/lib/forge-std"]
	path = ethernaut/12_Privacy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/13_GatekeeperOne/lib/forge-std"]
	path = ethernaut/13_GatekeeperOne/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/14_GatekeeperTwo/lib/forge-std"]
	path = ethernaut/14_GatekeeperTwo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/15_NaughtCoin/lib/forge-std"]
	path = ethernaut/15_NaughtCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/15_NaughtCoin/lib/openzeppelin-contracts"]
	path = ethernaut/15_NaughtCoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "ethernaut/15_NaughtCoin/16_Preservation/lib/forge-std"]
	path = ethernaut/15_NaughtCoin/16_Preservation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/16_Preservation/lib/forge-std"]
	path = ethernaut/16_Preservation/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/17_Recovery/lib/forge-std"]
	path = ethernaut/17_Recovery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/18_MagicNum/lib/forge-std"]
	path = ethernaut/18_MagicNum/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/19_AlienCodex/lib/forge-std"]
	path = ethernaut/19_AlienCodex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/20_Denial/lib/forge-std"]
	path = ethernaut/20_Denial/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
